BOT_TOKEN = "1613151597:AAGfAAbmp5_LCmhQsPLpFxy9Gx7Xvq9868Q"
GDRIVE_FOLDER_ID = "10l9TzPKx0LoXtQsFHKSvS_ppklCty-F1"
OWNER_ID = 1245831019
DOWNLOAD_DIR = "/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = ""
INDEX_URL = ""
USER_SESSION_STRING = "BQBdP2xTndkKN9OsN-FYG0jx0nUGpO7OiHyuy5zREL283C8CLJss5XZBuwniNVh7eFRGqZxnQzfQ-y5IZfnDGYEhMOZWSr7aHsM8fM6U_TFUpuBhE5syLKCplPt30ZMbkAeAHdT0nOHT5iHOI34N7UGFg1FNhQYKRjCRKJGPcKrR4iTH-q_DCDKLMZqJeiYMeEWgK3OuIQk4Ed2zSWjHdzQoH6fs6YnW9FzXXRTXK6dHXCW7AMKKU6xaqGmBYag4oN0e3WxpAdH4Eyv1KJdzVeey3SDsds_iYP34zqbhfyp83FM1nG2HX1_f7CUAxgprT5hLNgPj3MKF9UpGs-6xZoTcYCa9bQE"
TELEGRAM_HASH = "aa4d8d48f8aeca4bca9f83714c064762"
TELEGRAM_API = 2186238
USE_SERVICE_ACCOUNTS = ""
MEGA_API_KEY = "ggUmzDLC"
MEGA_EMAIL_ID = "uttu1122@protonmail.com"
MEGA_PASSWORD = "charis005"
AUTHORIZED_CHATS = "-1001192280069" #Separated by space
STOP_DUPLICATE_MIRROR = "True"
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
SHORTENER_API = ""
# Change ENABLE_FILESIZE_LIMIT = True if you want to use MAX_TORRENT_SIZE
ENABLE_FILESIZE_LIMIT = false
MAX_TORRENT_SIZE = 15
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
